<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Browse Recipes</title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
       integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" href="{{url_for('static', filename='zoey.css')}}">
 <link rel="shortcut icon" href="{{url_for('static', filename='images/logo.jpg')}}" type="image/x-icon">
</head>
<body>
{% include "navbar.html" %}
{% block content %}
{% endblock %}

<div class="centering">

 <div class="row justify-content-between mt-3" style="width: 40vw">
  <button class="btn btn-hover" onclick="location.href='{{ url_for('whichbutton', which='one-meal') }}'">One AI meal</button>
  <button class="btn btn-hover" onclick="location.href='{{ url_for('whichbutton', which='meal-plan') }}'">AI meal plan</button>
  <button class="btn btn-hover" onclick="location.href='{{ url_for('saved_recipes') }}'">Saved recipes</button>
  <button class="btn btn-hover" onclick="location.href='{{ url_for('loaded_recipes') }}'">&#8635;</button>
 </div>

 {% if not recipes %}
 <card class="simple-box centering">No recipes added!</card>
 {% else %}
 {% for recipe in recipes %}
 <div class="card simple-box">
  {{ r.mdtohtml(recipe) | safe }}
  {% set index = loop.index0 %}
  {% set json_recipes = r.listtojson(recipes) %}
  {% set selected = r.listtojson(recipe) %}
  <a class="btn mb-2 btn-primary"
     href="{{ url_for('edit_browse_recipes', index=index, jsonlist=json_recipes, display=selected) }}">
   Edit recipe
  </a>
  <a class="btn mb-2 btn-success" href="{{ url_for('add_recipes_today', this=selected, recipeslist=json_recipes) }}">
   Save as today's plan
  </a>
  <a class="btn mb-2 btn-danger" href="{{ url_for('del_recipe', index=index, recipes=json_recipes) }}">
   Delete recipe or plan
  </a>

 </div>
 {% endfor %}
 {% endif %}

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>