<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Home Page</title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" href="{{ url_for('static', filename = 'disha.css') }}">
</head>
<body>
 {% include "navbar.html" %}

    <h1>Shopping List</h1>
    <form action="/add" method="post">
        <div class = "container-input">
        <input class= "input-container" type="text" name="name" placeholder="Item name" required>
        <select class="input-container" name="status">
            <option value="In Stock">In Stock</option>
            <option value="Out of Stock">Out of Stock</option>
        </select>
        <select class="input-container" name="category">
            <option value="Fruit">Fruit</option>
            <option value="Meat">Meat</option>
            <option value="Vegetable">Vegetable</option>
            <option value="Root">Root</option>
            <option value="Herb">Herb</option>
        </select>
        <button class="input-add" type="submit">Add</button>
            </div>
    </form>

    <ul class="shopping-list">
    {% for item in items %}
    <li class="shopping-item">
        <strong> {{ item.name }} </strong>({{ item.category }} - {{ item.status }})
        <form action="/delete/{{ loop.index0 }}" method="get" style="display:inline;">
            <button type="submit" class="delete-btn">Delete</button>
        </form>

        <form action="/edit/{{ loop.index0 }}" method="post" style="display:inline;">
            <input type="text" name="name" value="{{ item.name }}" required class="item-input">

            <select name="status" class="status-dropdown">
                <option value="In Stock">In Stock</option>
                <option value="Out of Stock">Out of Stock</option>
            </select>

            <select name="category" class="category-dropdown">
                <option value="Fruit">Fruit</option>
                <option value="Meat">Meat</option>
                <option value="Vegetable">Vegetable</option>
                <option value="Root" >Root</option>
                <option value="Herb" >Herb</option>
            </select>

            <button type="submit" class="edit-btn">Edit</button>
        </form>
    </li>
    {% endfor %}
</ul>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>