<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Feedback</title>
    <link rel="stylesheet" href="{{url_for('static', filename='weird.css')}}">
</head>
<body>
 {% include "navbar.html" %}
 {% block content %}
 {% endblock %}


    <div class="feedback-form-container">
        <h1>Edit Feedback</h1>
        <form method="post">
            <label for="name">Name:*</label>
            <input type="text" name="name" id='name' value="{{ feedback['name'] }}" placeholder="Your Name" required><br>

            <label for="email">Email:*</label>
            <input type="email" name="email" id='email' value="{{ feedback['email'] }}" placeholder="Your Email" required><br>

            <label for="enjoy">What did you enjoy?*</label><br>
            <textarea name="enjoy" id='enjoy' placeholder="Enjoy" required>{{ feedback['enjoy'] }}</textarea><br>

            <label for="improve">What can be improved?*</label><br>
            <textarea name="improve" id='improve' placeholder="Improve" required>{{ feedback['improve'] }}</textarea><br>

            <div class="checkbox-container">
                <label for="share" class="checkbox-label">Send Confirmation Email:</label>
                <input type="checkbox" name="share" id="share" {% if feedback['share'] %}checked{% endif %}>
            </div>

            <button type="submit">Update Feedback</button>
        </form>

        <a href="{{ url_for('feedback_form') }}">Back to Feedback List</a>
    </div>

</body>
</html>
